
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Noto+Serif:ital@0;1&family=Oswald:wght@500;600;700&display=swap');
/* * {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Noto Serif", serif;
  /*sans-serif is the "fallback font"
/*   fhref="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" */
/* } */ */


[hidden] {
  display: none !important;
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 50px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}

/* adjust typography defaults */
body {
  margin: 10px;
  font-family: "Noto Serif", serif;
  line-height: 1.5;
  background-color: white;
  color: black;
  width: 100%;
}

.container {
  background-color: #eeeeee;
  position: relative;
  border: 1px solid black;
}

.image {
  margin-left: 10px;
  position: relative;
  max-width:800px;
}
header {
  background-image: url("Thomas Headline Image (without text).png");
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* set the height to the desired value */
}
/*  creating flex boxes for the description section. 1 parent box and 2 children boxes. The parent box is the overall box containing all of the content above the canvas.*/
.flex-container {
  display: flex;
  /*   border: 2px solid black; */
  max-width: 1000px;
  border: 1px solid black;
  margin: 20px;
}
/*  this child box is for the left side of the canvas containing the image and the caption*/
#flex-container .side1 {
  flex: 1 1 0;
  flex-wrap: wrap;
}
/*  this child box is for the right side of the canvas with the intro paragraphs and legend*/

#flex-container .side2 {
  flex: 1 1 0;
  flex-wrap: wrap;
  flex-grow: 0;
}
.title {
  font-family: "Oswald", sans-serif;
  font-style: 900;
  font-weight: bold;
  font-size: 72px;
  line-height: 105%;
  margin: 10px;
  padding:10px;
  position: relative;
  color: white;
}
.subtitle {
  font-family: "Oswald", sans-serif;
  font-style: 900;
  font-weight: bold;
  font-size: 36px;
  line-height: 105%;
  margin: 10px;
  padding:10px;
  position: relative;
  color: white;
}
.heading {
  font-size: 24px;
  margin: 20px;
}

.sub-heading {
  font-family: "Noto Serif", serif;
  font-style: 900;
  font-weight: bold;
  font-size: 24px;
  line-height: 105%;
  margin: 20px;
  position: relative;
  color: black;
  background-color: white;
  height:100px;
}

.main-text {
  margin: 20px;
  font-family: "Noto Serif", serif;
}
.legend-text {
  font-size: 10px;
  margin-left: 150px;
}

.tooltip {
  display: inline;
   /* position: fixed; */ 
   position: absolute;
   padding: 10px;
   /* background-color: black; */
   /* border: 1px solid #000; */
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 5px;
   pointer-events: none;
   z-index: 9999;
   font-family: "Noto Sans", sans-serif
 }

 /* SVG containers for graphics */
  #my_dataviz {
    width: 100%;
    max-width:100%;
    height: 75vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden; /* Hide any overflow from the SVG */
  } 

  #judges_svg {
    width: 100%;
    max-width:100%;
    height: 30vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden; /* Hide any overflow from the SVG */
  } 



  #trump_admin_svg {
    width: 100%;
    max-width:100%;
    height: 30vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden; /* Hide any overflow from the SVG */
  } 

  #sol_gen_svg {
    width: 100%;
    max-width:100%;
    height: 30vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden; /* Hide any overflow from the SVG */
  } 

  #private_practice_svg {
    width: 100%;
    max-width:100%;
    height: 30vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden; /* Hide any overflow from the SVG */
  } 

  #academia_svg {
    width: 100%;
    max-width:100%;
    height: 30vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden; /* Hide any overflow from the SVG */
  } 

  #other_svg {
    width: 100%;
    max-width:100%;
    height: 30vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden; /* Hide any overflow from the SVG */
  } 


/*  */
  .gradient1 {
    background: linear-gradient(to right,  #361c0e 50%, #570211 50%);
  }
  
  .gradient2 {
    background: linear-gradient(to right, #570211 50%, #7e3110 50%);
  }
  /* #361c0e #570211 #7e3110", "#004540", "#032c4d", "#360825" */
  .node.gradient1 {
    stroke: #032c4d;
    stroke-width: 5px;
  }

  .node.gradient2 {
    stroke: #032c4d;
    stroke-width: 5px;
    fill: #7e3110;
  }

  .bubbles {
    stroke-width: 1px;
  
  }
  
  .bubbles:hover {
    stroke: black;
    stroke-width:4px;
    r: 15px; /* add this to increase the radius on hover */
  }
  
  .bigger {
    r: 15px;
  }




 .sticky {
  position: sticky;
  top: 0;
  height:56px;
  background-color: #d1d6db;
  width:100%;
  z-index: 1000;
}
 
  #judges-button {
    position: absolute;
    /* top: 450px; */
    left: 0%;
    padding: 10px;
    /* border: 2px solid black; */
    color:black;
    font-family: "Noto Sans", sans-serif;
    /* background-color:grey; */
    font-size:16px;
    flex: 1 1 0;
  flex-wrap: wrap;
  }

  #trump-admin-button {
    position: absolute;
    /* top: 450px; */
    left: 16%;
    padding: 10px;
    color:black;
    font-family: "Noto Sans", sans-serif;
    /* border: 2px solid black;
    background-color:grey; */
    font-size:16px;
    flex: 1 1 0;
  flex-wrap: wrap;
  }

   #sol-gen-button {
    position: absolute;
    /* top: 450px; */
    left: 32%;
    padding: 10px;
    color:black;
    font-family: "Noto Sans", sans-serif;
    /* border: 2px solid black;
    background-color:grey; */
    font-size:16px;
    flex: 1 1 0;
  flex-wrap: wrap;
  }


  #private-practice-button {
    position: absolute;
    /* top: 450px; */
    left: 48%;
    padding: 10px;
    color:black;
    font-family: "Noto Sans", sans-serif;
    /* border: 2px solid black;
    background-color:grey; */
    font-size:16px;
    flex: 1 1 0;
  flex-wrap: wrap;
  }

  #academia-button {
    position: absolute;
    /* top: 450px; */
    left: 64%;
    padding: 10px;
    color:black;
    font-family: "Noto Sans", sans-serif;
    /* border: 2px solid black;
    background-color:grey; */
    font-size:16px;
    flex: 1 1 0;
  flex-wrap: wrap;
  }

 
  #other-button {
    position: absolute;
    /* top: 450px; */
    left: 80%;
    padding: 10px;
    color:black;
    font-family: "Noto Sans", sans-serif;
    /* border: 2px solid black;
    background-color:grey; */
    font-size:16px;
    flex: 1 1 0;
  flex-wrap: wrap;
  }


.scroll-btn {
    /* background-color: white; */
    font-weight: normal;
  }
  
.scroll-btn.active {
    background-color: white;
  }
 /* .tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 2px;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
  } */

  line {
    stroke: #999;
    stroke-opacity: 0.3;
  } 


  /* scroll for sorting hat */
  #scroll {
    position: sticky;
    width:100%;
  }

  .scroll__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll.trigger{
    position: fixed;
  }
  .scroll__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .trigger .my_dataviz {
    position: relative;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }


/* scroll for judges chapter */

  #scroll2 {
    position: sticky;
    width:100%;
  }

  .scroll2__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll2.trigger{
    position: fixed;
  }
  .scroll2__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll2__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .trigger .judges_svg {
    position: relative;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }




  /* scroll for trump admin chapter */

  #scroll3 {
    position: sticky;
    width:100%;
  }

  .scroll3__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll3.trigger{
    position: fixed;
  }
  .scroll3__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll3__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .trigger .trump_admin_svg {
    position: relative;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* scroll for solicitors general chapter */

  #scroll4 {
    position: sticky;
    width:100%;
  }

  .scroll4__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll4.trigger{
    position: fixed;
  }
  .scroll4__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll4__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .trigger .sol_gen_svg {
    position: relative;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* scroll for private practice chapter */

  #scroll5 {
    position: sticky;
    width:100%;
  }

  .scroll5__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll5.trigger{
    position: fixed;
  }
  .scroll5__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll5__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .trigger .private_practice_svg {
    position: relative;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* scroll for academia chapter */
  #scroll6 {
    position: sticky;
    width:100%;
  }

  .scroll6__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll6.trigger{
    position: fixed;
  }
  .scroll6__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll6__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .trigger .academia_svg {
    position: relative;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }


  /* scroll for outliers and activists chapter */
  #scroll7 {
    position: sticky;
    width:100%;
  }

  .scroll7__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll7.trigger{
    position: fixed;
  }
  .scroll7__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll7__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .trigger .other_svg {
    position: relative;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /*  */
.content {
  width:100%;
  padding-top: 5%;
  background-color: #fff;
 
}


.chapter_block {
  background-color: white;
  /* padding-top: 200px; */
  /* height: 20px; */
  top:0;

}

.sticky_header {
  position: sticky;
  /* padding-top:20px; */
  top: 0;
  z-index:500;
  /* height: 500px; */
}

.partial_sticky {
  position: sticky;
  bottom: 0;
  height: 20%;
}